body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: small;
}

.itp-vp-box{
    overflow: hidden;
    width: 100%;
    border-bottom: thin dotted #4A2018;
    margin-bottom:5px;
    padding-bottom:5px;
}

.itp-vp-image-box {
    float:left;
}

.itp-vp-text-box {
    float:left;
    margin-left: 5px;
    width:260px;
}

.itp-vp-title{
    border-bottom: thin dotted #ffffff;
}


.itp-vp-extra-image img{
    -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.8); /*Mozilla scale version*/
    -o-transform:scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.7; /*initial opacity of images*/
    margin: 0 5px 5px 0; /*margin between images*/
    float:left;
    border: 1px solid #666666;
}

.itp-vp-extra-image img:hover{
    -webkit-transform:scale(0.9); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(0.9); /*Mozilla scale version*/
    -o-transform:scale(0.9); /*Opera scale version*/
    box-shadow:0px 0px 10px black; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 10px black; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 10px black; /*Mozilla shadow version*/
    opacity: 1;
}

a {
  color: #666666;
  text-decoration: none;
}
a:hover {
      text-decoration: underline;
}

a img {
	border: 2px solid #E5E5E5;
}

#itp-cc {
    font-size: small;
    text-decoration: none;
    text-align: left;
    width: 100%;
}
