@CHARSET "UTF-8";

.icon-globe {
	background: url(../images/globe.png) no-repeat left;
}


#itp-extra-images{
    margin-top: 10px;
}

.ai-imglink {
	height:100%;
}

.itp_note {
  background: #FFFFCC;
  border: thin solid #FF9900;
}

.ai_ri{
	cursor: pointer;
}

.ai_box{
	position: relative;
   margin: 10px 10px 10px 0;
   float: left;
}

.ai_box a {
	display: block;
}

.mtop20 {
	margin-top: 20px;
}

/* CSS Editor */
.vp_css_code {
	width: 670px !important;
	height: 700px !important;
}
