#vp-slide-gallery {
      display:none;
}

#vp-slide-gallery a:link, #vp-slide-gallery a:visited {
    color: #333333;
}
#vp-slide-gallery .slidesjs-previous {
    float: left;
    margin-right: 5px;
}
#vp-slide-gallery .slidesjs-navigation {
    margin-top: 3px;
    text-decoration: none !important;
}

#vp-slide-gallery .slidesjs-next {
    float: left;
    margin-right: 5px;
}

.slidesjs-pagination {
    float: right;
    list-style: none outside none !important;
    margin: 6px 0 0;
}


.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a.active:hover {
    background-position: 0 -13px;
}
.slidesjs-pagination li a {
    background-image: url("images/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 13px;
    width: 13px;
}
