.itp-vp-lbox{
    overflow: auto;
	width: 100%;
    margin-bottom:5px;
    padding-bottom:5px;
}

.itp-vp-limage-box {
  float:left;
  border: thick solid #EEEEEE;
}


.itp-vp-ltext-box {
    float:left;
    margin-left: 25px;
    width:auto;
}

.itp-vp-ltitle{
    border-bottom: thin dotted #ffffff;
}

#itp-vp-prv-prj {
   float: left;
   margin-right: 15px;
}

#itp-vp-next-prj {
    float: right;
    margin-left: 15px;
}

#itp-vp-pag {
    width: 100%;
}

.itp-vp-extra-image img{
    -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.8); /*Mozilla scale version*/
    -o-transform:scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.7; /*initial opacity of images*/
    margin: 0 5px 5px 0; /*margin between images*/
    float:left;
    border: 1px solid #666666;
}

.itp-vp-extra-image img:hover{
    -webkit-transform:scale(0.9); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(0.9); /*Mozilla scale version*/
    -o-transform:scale(0.9); /*Opera scale version*/
    box-shadow:0px 0px 10px black; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 10px black; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 10px black; /*Mozilla shadow version*/
    opacity: 1;
}