<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="global" label="COM_VIPPORTFOLIO_GLOBAL_TITLE" description="COM_VIPPORTFOLIO_GLOBAL_PARAMS">
        <field name="cat_breadcrumbs" type="radio" default="0"  label="COM_VIPPORTFOLIO_CAT_BREADCRUMBS" description="COM_VIPPORTFOLIO_CAT_BREADCRUMBS_DESC" >
           <option value="0">JHIDE</option>
           <option value="1">JSHOW</option>
       </field>
       <field name="catDesc" type="radio" default="0"  label="COM_VIPPORTFOLIO_CAT_DESCRIPTIOON" description="COM_VIPPORTFOLIO_CAT_DESCRIPTIOON_DESC" >
           <option value="0">JHIDE</option>
           <option value="1">JSHOW</option>
       </field>
       
	</fieldset>
	
	<fieldset name="images" label="COM_VIPPORTFOLIO_IMAGES_TITLE" description="COM_VIPPORTFOLIO_IMAGES_PARAMS">

        <field name="images_directory" type="text" default="images/vipportfolio" size="50" label="COM_VIPPORTFOLIO_IMAGES_DIRECTORY" description="COM_VIPPORTFOLIO_IMAGES_DIRECTORY_DESC" />
        	
        <field name="spacer" type="spacer" hr="true" />
        <field name="subcategories" type="spacer" class="spacer" label="COM_VIPPORTFOLIO_EXTRA_IMAGE_THUMB_LABEL" />
        <field name="extra_image_thumb_width" type="text" default="50" size="50" label="COM_VIPPORTFOLIO_THUMB_WIDTH" description="COM_VIPPORTFOLIO_EXTRA_THUMB_WIDTH_DESC" />
        <field name="extra_image_thumb_height" type="text" default="50" size="50" label="COM_VIPPORTFOLIO_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_EXTRA_THUMB_HEIGHT_DESC" />
        
	</fieldset>

	<fieldset name="list" label="COM_VIPPORTFOLIO_PROJECTS_LIST_TITLE" description="COM_VIPPORTFOLIO_PROJECTS_LIST_PARAMS">
	    <field name="modal" type="list" default="0"  label="COM_VIPPORTFOLIO_MODAL_WINDOW" description="COM_VIPPORTFOLIO_MODAL_WINDOW_DESC" >
	       <option value="">COM_VIPPORTFOLIO_CONFIG_NONE</option>
	       <option value="native">COM_VIPPORTFOLIO_CONFIG_JOOMLA_NATIVE</option>
           <option value="slimbox">Slimbox</option>
	    </field>
	    <field name="list_display_title" type="radio" default="0"  label="COM_VIPPORTFOLIO_SHOW_TITLE" description="COM_VIPPORTFOLIO_SHOW_TITLE_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="title_linkable" type="radio" default="0"  label="COM_VIPPORTFOLIO_TITLE_LINK" description="COM_VIPPORTFOLIO_TITLE_LINK_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
         <field name="list_open_link" type="list" default="_self"  label="COM_VIPPORTFOLIO_OPEN_LINK" description="COM_VIPPORTFOLIO_OPEN_LINK_DESC" >
            <option value="_self">COM_VIPPORTFOLIO_SAME_TAB</option>
            <option value="_blank">COM_VIPPORTFOLIO_NEW_TAB</option>
        </field>
	    <field name="image_linkable" type="radio" default="0"  label="COM_VIPPORTFOLIO_IMAGE_LINK" description="COM_VIPPORTFOLIO_IMAGE_LINK_DESC" >
	        <option value="0">JNO</option>
	        <option value="1">JYES</option>
	    </field>
        <field name="pp_page" type="text" default="6" size="50" label="COM_VIPPORTFOLIO_PP_PAGE" description="COM_VIPPORTFOLIO_PP_PAGE_DESC" />
        <field name="spacer" type="spacer" hr="true" />
        <field name="thumb_width" type="text" default="200" size="50" label="COM_VIPPORTFOLIO_THUMB_WIDTH" description="COM_VIPPORTFOLIO_THUMB_WIDTH_DESC" />
        <field name="thumb_height" type="text" default="200" size="50" label="COM_VIPPORTFOLIO_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_THUMB_HEIGHT_DESC" />
        
        <field name="spacer2" type="spacer" hr="true" />
        <field name="extra_image" type="radio" default="0"  label="COM_VIPPORTFOLIO_EXTRA_IMAGE" description="COM_VIPPORTFOLIO_EXTRA_IMAGE_DESC" >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="ei_thumb_width" type="text" default="50" size="50" label="COM_VIPPORTFOLIO_EXTRA_THUMB_WIDTH" description="COM_VIPPORTFOLIO_EXTRA_THUMB_WIDTH_DESC" />
        <field name="ei_thumb_height" type="text" default="50" size="50" label="COM_VIPPORTFOLIO_EXTRA_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_EXTRA_THUMB_HEIGHT_DESC" />
        <field name="extra_max" type="text" default="3" size="50" label="COM_VIPPORTFOLIO_EI_NUM" description="COM_VIPPORTFOLIO_EI_NUM_DESC" />
	    
	</fieldset>
    
    <fieldset name="line" label="COM_VIPPORTFOLIO_PROJECTS_LINEAL" description="COM_VIPPORTFOLIO_PROJECTS_LINEAL_PARAMS">
        <field name="lModal" type="list" default="0"  label="COM_VIPPORTFOLIO_MODAL_WINDOW" description="COM_VIPPORTFOLIO_MODAL_WINDOW_DESC" >
           <option value="">COM_VIPPORTFOLIO_CONFIG_NONE</option>
           <option value="native">COM_VIPPORTFOLIO_CONFIG_JOOMLA_NATIVE</option>
           <option value="slimbox">Slimbox</option>
        </field>
        <field name="lLinkable" type="radio" default="0"  label="COM_VIPPORTFOLIO_IMAGE_LINK" description="COM_VIPPORTFOLIO_IMAGE_LINK_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="lDisplayTitle" type="radio" default="0"  label="COM_VIPPORTFOLIO_SHOW_TITLE" description="COM_VIPPORTFOLIO_SHOW_TITLE_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="lTitleLinkable" type="radio" default="0"  label="COM_VIPPORTFOLIO_TITLE_LINK" description="COM_VIPPORTFOLIO_TITLE_LINK_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="lineal_open_link" type="list" default="_self"  label="COM_VIPPORTFOLIO_OPEN_LINK" description="COM_VIPPORTFOLIO_OPEN_LINK_DESC" >
            <option value="_self">COM_VIPPORTFOLIO_SAME_TAB</option>
            <option value="_blank">COM_VIPPORTFOLIO_NEW_TAB</option>
        </field>
        <field name="lDisplayUrl" type="radio" default="0"  label="COM_VIPPORTFOLIO_SHOW_URL" description="COM_VIPPORTFOLIO_SHOW_URL_DESC" >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        
        <field name="spacer3" type="spacer" hr="true" />
        <field name="lineal_thumb_width" type="text" default="300" size="50" label="COM_VIPPORTFOLIO_THUMB_WIDTH" description="COM_VIPPORTFOLIO_THUMB_WIDTH_DESC" />
        <field name="lineal_thumb_height" type="text" default="300" size="50" label="COM_VIPPORTFOLIO_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_THUMB_HEIGHT_DESC" />
        
        <field name="spacer4" type="spacer" hr="true" />
        <field name="lineal_extra_image" type="radio" default="0"  label="COM_VIPPORTFOLIO_EXTRA_IMAGE" description="COM_VIPPORTFOLIO_EXTRA_IMAGE_DESC" >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="lineal_extra_thumb_width" type="text" default="50" size="50" label="COM_VIPPORTFOLIO_THUMB_WIDTH" description="COM_VIPPORTFOLIO_THUMB_WIDTH_DESC" />
        <field name="lineal_extra_thumb_height" type="text" default="50" size="50" label="COM_VIPPORTFOLIO_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_THUMB_HEIGHT_DESC" />
        <field name="lineal_extra_max" type="text" default="3" size="50" label="COM_VIPPORTFOLIO_EI_NUM" description="COM_VIPPORTFOLIO_EI_NUM_DESC" />
        
    </fieldset>
    
    <fieldset name="scrollgallery" label="COM_VIPPORTFOLIO_CONFIG_SCROLLGALLERY_TITLE" description="COM_VIPPORTFOLIO_CONFIG_SCROLLGALLERY_PARAMS">
        <field name="sgDisplayCaption" type="radio" default="0"  label="COM_VIPPORTFOLIO_CONFIG_SCROLLGALLERY_CAPTION" description="COM_VIPPORTFOLIO_CONFIG_SCROLLGALLERY_CAPTION_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="spacer5" type="spacer" hr="true" />
        <field name="sg_image_width" type="text" default="" size="50" label="COM_VIPPORTFOLIO_IMAGE_WIDTH" description="COM_VIPPORTFOLIO_IMAGE_WIDTH_DESC" />
        <field name="sg_image_height" type="text" default="" size="50" label="COM_VIPPORTFOLIO_IMAGE_HEIGHT" description="COM_VIPPORTFOLIO_IMAGE_HEIGHT_DESC" />
        <field name="sg_thumb_width" type="text" default="300" size="50" label="COM_VIPPORTFOLIO_THUMB_WIDTH" description="COM_VIPPORTFOLIO_THUMB_WIDTH_DESC" />
        <field name="sg_thumb_height" type="text" default="300" size="50" label="COM_VIPPORTFOLIO_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_THUMB_HEIGHT_DESC" />
    </fieldset>
    
    <fieldset name="catslist" label="COM_VIPPORTFOLIO_CATEGORY_LIST_TITLE" description="COM_VIPPORTFOLIO_CATEGORY_LIST_PARAMS">
        
        <field name="clistThumbWidth" type="text" default="350" size="50" label="COM_VIPPORTFOLIO_IMAGE_WIDTH" description="COM_VIPPORTFOLIO_IMAGE_WIDTH_DESC" />
        <field name="clistThumbHeight" type="text" default="100" size="50" label="COM_VIPPORTFOLIO_IMAGE_HEIGHT" description="COM_VIPPORTFOLIO_IMAGE_HEIGHT_DESC" />
    </fieldset>
    
    <fieldset name="catstabbed" label="COM_VIPPORTFOLIO_CATEGORY_TABBED_TITLE" description="COM_VIPPORTFOLIO_CATEGORY_TABBED_PARAMS">
        <field name="ctabModal" type="list" default="0"  label="COM_VIPPORTFOLIO_MODAL_WINDOW" description="COM_VIPPORTFOLIO_MODAL_WINDOW_DESC" >
            <option value="">COM_VIPPORTFOLIO_CONFIG_NONE</option>
            <option value="native">COM_VIPPORTFOLIO_CONFIG_JOOMLA_NATIVE</option>
            <option value="slimbox">Slimbox</option>
        </field>
        <field name="ctabsDisplayTitle" type="radio" default="0"  label="COM_VIPPORTFOLIO_SHOW_TITLE" description="COM_VIPPORTFOLIO_SHOW_TITLE_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="ctabsTitleLinkable" type="radio" default="0"  label="COM_VIPPORTFOLIO_TITLE_LINK" description="COM_VIPPORTFOLIO_TITLE_LINK_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="tabbed_open_link" type="list" default="_self"  label="COM_VIPPORTFOLIO_OPEN_LINK" description="COM_VIPPORTFOLIO_OPEN_LINK_DESC" >
            <option value="_self">COM_VIPPORTFOLIO_SAME_TAB</option>
            <option value="_blank">COM_VIPPORTFOLIO_NEW_TAB</option>
        </field>
        <field name="ctabsDisplayTips" type="radio" default="0"  label="COM_VIPPORTFOLIO_DISPLAY_TIPS" description="COM_VIPPORTFOLIO_DISPLAY_TIPS_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="ctabsDisplayInnerTitle" type="radio" default="0"  label="COM_VIPPORTFOLIO_DISPLAY_INNER_TITLE" description="COM_VIPPORTFOLIO_DISPLAY_INNER_TITLE_DESC" >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="ctabsDisplayInner" type="radio" default="0"  label="COM_VIPPORTFOLIO_DISPLAY_INNER" description="COM_VIPPORTFOLIO_DISPLAY_INNER_DESC" >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="ctabsInnerURL" type="radio" default="0"  label="COM_VIPPORTFOLIO_DISPLAY_INNER_URL" description="COM_VIPPORTFOLIO_DISPLAY_INNER_URL_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="ctabsInnerTitleMaxChars" type="text" default="20" size="50" label="COM_VIPPORTFOLIO_TITLE_MAX_CHARACTERS" description="COM_VIPPORTFOLIO_TITLE_MAX_CHARACTERS_DESC" />
        <field name="ctabsInnerMaxChars" type="text" default="80" size="50" label="COM_VIPPORTFOLIO_MAX_CHARACTERS" description="COM_VIPPORTFOLIO_MAX_CHARACTERS_DESC" />
        <field name="spacer5" type="spacer" hr="true" />
        <field name="ctabs_thumb_width" type="text" default="200" size="50" label="COM_VIPPORTFOLIO_THUMB_WIDTH" description="COM_VIPPORTFOLIO_THUMB_WIDTH_DESC" />
        <field name="ctabs_thumb_height" type="text" default="200" size="50" label="COM_VIPPORTFOLIO_THUMB_HEIGHT" description="COM_VIPPORTFOLIO_THUMB_HEIGHT_DESC" />
    </fieldset>
    
    <fieldset name="catsimgmenu" label="COM_VIPPORTFOLIO_CATEGORY_IMAGEMENU_TITLE" description="COM_VIPPORTFOLIO_CATEGORY_IMAGEMENU_PARAMS">
        <field name="cimgmenuOpenWidth" type="text" default="310" size="50" label="COM_VIPPORTFOLIO_OPEN_WIDTH" description="COM_VIPPORTFOLIO_OPEN_WIDTH_DESC" />
        <field name="cimgmenuBorder" type="text" default="2" size="50" label="COM_VIPPORTFOLIO_BORDER" description="COM_VIPPORTFOLIO_BORDER_DESC" />
        <field name="cimgmenuDuration" type="text" default="400" size="50" label="COM_VIPPORTFOLIO_DURATION" description="COM_VIPPORTFOLIO_DURATION_DESC" />
    </fieldset>
    
</config>